body {
  background-color: rgb(250,250,250);
  margin: 0%;
  padding: 0%;
}
p {
  padding-left: 40px;
}

h1 {
  background-color: rgb(29, 65, 83);
  color: #ffffff;
  text-align: center;
}

h2 {
  padding-left: 40px;
}

.container-fluid {
  padding: 0%;
  margin-left: 0;
}

.container {
  text-align: center;
  margin: 0;
}
.row {
  margin:0;
  padding: 0;
}

.city {
  margin-left: 40px;    
}
h3 { 
 margin:25px;
  margin-left: 40px;
  padding:40px;
} 